table{
    width: 100%;
    margin-bottom: 20px;
}
td{
    border-bottom: 1px solid #ddd;
    height: 60px;
}
input{
    margin-top: 15px;
    margin-bottom: 15px;
}
input[type=text]{
    width: 500px;
}
.btn-book button{
    width: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
}
button{
    cursor: pointer;
}