* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

.main {
    max-width: 1280px;
    margin: 0 auto;

}

:root {
    --color: #fac54a;
}


/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    margin: 20px 10px 0px 10px;
}

.logo img {
    width: 150px;
    height: 75px;
}

.nav>ul {
    list-style: none;
    display: flex;
    padding-top: 20px;
}

.nav>ul>li>a {
    text-decoration: none;
    margin-left: 30px;
    font-size: 20px;
}

.nav a:hover {
    color: var(--color);
    line-height: 10px;
}

.login {
    padding-top: 15px;
}

.login button {
    width: 100px;
    height: 40px;
}


/* BANNER */

.banner {
    width: 100%;
}

.banner img {
    width: 100%;
    border-radius: 25px;
}

.search .form {
    display: flex;
}

.checkIn,
.checkOut,
.saerch_btn {
    padding-left: 100px;
    padding-top: 10px;
}

.saerch_btn input,
.checkOut input,
.checkIn input {
    width: 200px;
    height: 40px;
}

.search {
    position: relative;
    left: 30px;
    top: -100px;
    width: 990px;
    height: 60px;
    margin-left: 100px;
    background-color: rgba(229, 176, 45, 0.5);
    border-radius: 10px;
}

.saerch_btn input {
    border-radius: 10px;
    background-color: rgba(229, 176, 45, 0.5);
}

/* CONTENT */

.content {
    margin-top: 25px;
}

/* OVERVIEW */
.overView {
    width: 100%;
    height: 530px;
    padding-top: 50px;
    padding-bottom: 20px;
    display: flex;
}

.overView .p {
    width: 50%;
    padding-top: 30px;
}

.overView .p p {
    width: 100%;
    font-size: 15px;
    padding-left: 20px;
    padding-bottom: 15px;
}

.addDress {
    width: 50%;
}

iframe {
    width: 100%;
    padding-right: 20px;
    border-radius: 10px;
}

/* room */

.room {
    width: 100%;
    background-color: #f4f4f5;
    padding-bottom: 50px;
}

.room>p:first-child {
    font-size: 40px;
    padding: 30px 0 20px 40px;
}

.grid {
    width: 90%;
    margin-left: 20px;
    background-color: #ffff;
    border-radius: 10px;
}

.grid img {
    width: 100%;
    border-radius: 10px;
}

.grid #roomName {
    font-size: 30px;
    padding-left: 20px;
}

.grid .desc {
    display: flex;
}

.grid .desc p {
    padding-left: 20px;
}

#desc-2 {
    padding-left: 100px;
}

#price {
    padding-left: 20px;
}

#price span {
    font-size: 20px;
    color: var(--color);
}

.btn {
    padding-top: 10px;
}

.grid p {
    padding-top: 10px;
}

button {
    width: 100%;
    height: 35px;
    background-color: var(--color);
    border: none;
    border-radius: 10px;
    font-size: 15px;
}

.roomGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}


/* slider */

.slider {
    width: 100%;
    height: 950px;
}

.p_Service p {
    font-size: 40px;
    padding: 30px 0 20px 40px;
}

.slider img {
    width: 95%;
    height: 708px;
   
    margin-top: 50px;
    border-radius: 10px;
    position: absolute;
    z-index: 0;

}

.slider .left,
.slider .right {
    background-color: rgba(229, 176, 45, 0.5);
    width: 28px;
    height: 50px;
    border-radius: 5px;
}

.left i,
.right i {
    padding-left: 5px;
    padding-top: 16px;
}

.icon {
    z-index: 1;
}

.left {
    position: relative;
    top: 300px;
    left: 2px;
}
.right{
    position: relative;
    top: 350px;
    left: 1250px;
}
/* product */
.row{
    display: flex;
    flex-wrap: wrap;
}
.product{
padding: 100px 0;
}
.product-top{
    font-family: var(--main-text-font);
    margin: 0 12px;
    font-size: 30px;
    margin-bottom: 10px;
}
.product-content-left{
    width: 50%;
}

.product-content-left-big-img{
    width: 80%;
    padding-right: 20px;
}
.product-content-left-big-img img{
    width: 100%;
}
.product-content-left-small-img{
    width: 20%;
}
.product-content-left-small-img img{
    width: 100%;
}
.product-content-right{
    width: 50%;
    padding-left: 20px;
}
.product-content-right-name{
    font-family: var(--main-text-font);
    margin: 0 12px;
    font-size: 30px;
}
.product-content-right-name p{
    color: #cccccc;
    font-size: 20px;
    margin-bottom: 15px;
}
.product-content-right-icon-item{
    margin-left: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 15px;
}
.product-content-right-icon-item p{
    padding-left: 5px;
}
.product-content-right-price{
    margin: 12px 0;
    font-size: 20px;
    font-weight: bold;
    font-family: var(--main-text-font);
    margin-bottom: 25px;
    margin-left: 15px;
}
.product-content-right-button button{
width: 150px;
height: 40px;
display: block;
margin: 20px 0 12px;
transition: all 0.5 ease;
}
.product-content-right-button a{
    text-decoration: none;
}
.product-content-right-button button:first-child{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #f4f4f5;
    cursor: pointer;
}
.product-content-right-button button:first-child:hover{
    background-color: #cccccc;
}
.product-content-right-button button:last-child{
    border: 2px solid #8f8a49;
}
.product-content-right-tiennghi{
    border: 1px solid #cccccc;
}
.product-content-right-tn-item{
    margin-left: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 10px;
}
.product-content-right-tn-item p{
    padding-left: 5px;
}
/* Product-relate */
.product-related{
    margin-bottom: 50px;
}
.product-related-title{
    margin: 20px 0;
}
.product-related-title p{
    font-family: var(--main-text-font);
    font-size: 24px;
    font-weight: bold;
    color: #333;
}
.product-relate-items{
    width: 20%;
    text-align: center;
    padding: 0 6px;
}
.product-relate-items img{
    width: 100%;
}
/* Cart */
.cart{
    padding: 100px 0;
}
.cart_top_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.cart_top{
    height: 2px;
    width: 70%;
    background-color: #dddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 50px 0 100px;
}
.cart_top_item{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #dddd;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffff;
}
.cart_top_item i{
    color: #dddd;
}
.cart_top_cart{
    border: 1px solid #40afe2;
}
.cart_top_cart i{
    color: aquamarine;
}
.cart_content_left{
    flex: 2;
}
.cart_content_left table{
    width: 100%;
    text-align: center;
}
.cart_content_left table th{
    padding-bottom: 30px;
    font-family: var(--main-text-font);
    font-size: 12px;
    text-transform: uppercase;
    color: #333;
    border-collapse: collapse;
    border-bottom: 2px solid #dddd;
}
.cart_content_left table th p{
    font-size: 12px;
    color: #333;
    font-family: var(--main-text-font);
}
.cart_content_left table th input{
    width: 30px;
}
.cart_content_left table th span{
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #dddd;
    cursor: pointer;
}
.cart_content_left th:first-child img{
    width: 200px;
}
.cart_content_right{
    flex: 1;
    padding-left: 12px;
    border-left: 2px solid #dddd; 
}
.cart_content_right table{
    width: 95%;
}
.cart_content_right table th{
    padding-bottom: 30px;
    font-size: 22px;
    color: #333;
    font-family: var(--main-text-font);
    border-collapse: collapse;
    border-bottom: 2px solid #dddd;
}
.cart_content_right table td{
    font-size: 18px;
    color: #333;
    font-family: var(--main-text-font);
    padding: 6px 0;
}
.cart_content_right tr:nth-child(4) td{
    border-bottom: 2px solid #dddd;
}
.dam{
    font-weight: bold;
    font-size: 20px;
}
.cart_content_right tr td:last-child{
    text-align: right;
}
.cart_content_right_text{
    margin-bottom: 10px;
}
.cart_content_right_text input{
    margin: 20px 0 0 10px;
    text-align: left;
}
.cart_content_right_button{
    text-align: center;
    align-items: center;
}
.cart_content_right_button button{
    width: 200px;
    padding: 0 10px;
    height: 35px;
    cursor: pointer;
}
.cart_content_right_button button:first-child{
    background-color: #ffff;
    border: 1px solid #333;
}
.cart_content_right_button button:first-child:hover{
    background-color: rgba(229, 176, 45, 0.5);
}
.cart_content_right_button button:last-child:hover{
    background-color: rgba(229, 176, 45, 0.5);
}
.cart_content_right_dangnhap{
    text-align: center;
    align-items: center;
    margin-top: 15px;
}
.cart_content_right_dangnhap p a{
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}
.cart_content_right_dangnhap p {
    
    font-size: 18px;
}


/* FOOTER */
.footer{
 display: flex;
 background-color: var(--color);
 padding-top: 30px;
 padding-bottom: 30px;
}
.footer-2{
    padding-left: 300px;
}
.footer-1{
    padding-top: 30px;
}
.input_booking{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 500px;
}
.btn-book button{
    width: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
}
button{
    cursor: pointer;
}