* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

.main {
    max-width: 1280px;
    margin: 0 auto;

}

:root {
    --color: #fac54a;
}


/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    margin: 20px 10px 0px 10px;
}

.logo img {
    width: 150px;
    height: 75px;
}

.nav>ul {
    list-style: none;
    display: flex;
    padding-top: 20px;
}

.nav>ul>li>a {
    text-decoration: none;
    margin-left: 30px;
    font-size: 20px;
}

.nav a:hover {
    color: var(--color);
    line-height: 10px;
}

.login {
    padding-top: 15px;
}

.login button {
    width: 100px;
    height: 40px;
}


/* BANNER */

.banner {
    width: 100%;
}

.banner img {
    width: 100%;
    border-radius: 25px;
}

.search .form {
    display: flex;
}

.checkIn,
.checkOut,
.saerch_btn {
    padding-left: 100px;
    padding-top: 10px;
}

.saerch_btn input,
.checkOut input,
.checkIn input {
    width: 200px;
    height: 40px;
}

.search {
    position: relative;
    left: 30px;
    top: -100px;
    width: 990px;
    height: 60px;
    margin-left: 100px;
    background-color: rgba(229, 176, 45, 0.5);
    border-radius: 10px;
}

.saerch_btn button {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color: rgba(231, 152, 33, 0.5);
}

/* CONTENT */

.content {
    margin-top: 25px;
}

/* OVERVIEW */
.overView {
    width: 100%;
    height: 530px;
    padding-top: 50px;
    padding-bottom: 20px;
    display: flex;
}

.overView .p {
    width: 50%;
    padding-top: 30px;
}

.overView .p p {
    width: 100%;
    font-size: 15px;
    padding-left: 20px;
    padding-bottom: 15px;
}

.addDress {
    width: 50%;
}

iframe {
    width: 100%;
    padding-right: 20px;
    border-radius: 10px;
}

/* room */

.room {
    width: 100%;
    background-color: #f4f4f5;
    padding-bottom: 50px;
}

.room>p:first-child {
    font-size: 40px;
    padding: 30px 0 20px 40px;
}

.grid {
    width: 90%;
    margin-left: 20px;
    background-color: #ffff;
    border-radius: 10px;
}

.grid img {
    width: 100%;
    border-radius: 10px;
}

.grid #roomName {
    font-size: 30px;
    padding-left: 20px;
}

.grid .desc {
    display: flex;
}

.grid .desc p {
    padding-left: 20px;
}

#desc-2 {
    padding-left: 100px;
}

#price {
    padding-left: 20px;
}

#price span {
    font-size: 20px;
    color: var(--color);
}

.btn {
    padding-top: 10px;
}

.grid p {
    padding-top: 10px;
}

button {
    width: 100%;
    height: 35px;
    background-color: var(--color);
    border: none;
    border-radius: 10px;
    font-size: 15px;
}

.roomGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}


/* slider */

.slider {
    width: 100%;
    height: 950px;
}

.p_Service p {
    font-size: 40px;
    padding: 30px 0 20px 40px;
}

.slider img {
    width: 96%;
    height: 708px;
    margin-left: 2%;
    margin-top: 50px;
    border-radius: 10px;
    position: absolute;
    z-index: 0;

}

.slider .left,
.slider .right {
    background-color: rgba(229, 176, 45, 0.5);
    width: 28px;
    height: 50px;
    border-radius: 5px;
}

.left i,
.right i {
    padding-left: 5px;
    padding-top: 16px;
}

.icon {
    z-index: 1;
}

.left {
    position: relative;
    top: 300px;
    left: 26px;
}
.right{
    position: relative;
    top: 350px;
    left: 1210px;
}
/* FOOTER */
.footer{
 display: flex;
 background-color: var(--color);
 padding-top: 30px;
 padding-bottom: 30px;
}
.footer-2{
    padding-left: 300px;
}
.footer-1{
    padding-top: 30px;
}